.profile-container {
  min-width: 340px;
  width: 100%;
  margin-top: 128px;
}

.profile-section {
  display: flex;
  width: 100%;
  flex-direction: column;

  .profile-avatar {
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }

  .profile-username {
    font-size: 18px;
    line-height: 28px;
  }
}
